/* 아이디 */
h2{
    color : red;
}
/*클래스 선택자를 쓸 때는 .클래스값으로 써야한다.*/
/* 하이라이트 */
.highlight{
    text-align:center;
}

/*아이디 선택자를 쓸 때는 #아이디값으로 써야한다.*/
/* 프로필 */
#profile{
    display:grid;
    grid-template-columns : 1fr 3.5fr;
}

#profile_info{
    display:grid;
    grid-template-rows: 1fr 1fr;

    height : 15vw;
}

#id{
    font-size:6vw;
    font-weight:100;
}

button{
    height : 80%;
    width : 95;

    font-size : 3vw;
    background-color : white;
    border : 1px solid gray;
    border-radius: 3px;
}

/* -----썸네일------ */
.thumbnail_grid{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.thumbnail{
    width:100%;
}
/* ----------------- */

/* 게시물,팔로워,팔로우 */
#stat_bar{
    display:grid;
    grid-template-columns : 1fr 1fr 1fr;

    border-top : 1px solid grey;
    border-bottom : 1px solid grey;

    margin-top : 5px;
    margin-bottom : 5px;
}

.stat{
    text-align:center;
}
/* ----------------- */

/* 사진 동그랗게 만들기 */
.circle_pic{
    border : solid white 1px;
    border-radius: 50%;

    width: 100%;
    height : 100%;
    object-fit: cover;
}

#profile_pic{
    width:15vw;
    height:15vw;
}

.highlight_pic{
    width:10vw;
    height:10vw;

    margin-left : auto;
    margin-right : auto;
}
/* ----------------- */


#highlight_area{
    display:grid;
    grid-template-columns:12vw 12vw 1fr;
}

#top{
    display:grid;
    grid-template-columns: 4fr 7fr 4fr;
    border-bottom : solid gray 0.1px;
    padding-bottom : 3px;
    margin-bottom : 3vw;
    height:10vw;
    min-height : 10vw;
}

#top_img{
    width:30vw;
    height:10vw;
    margin : auto;
}

#top img{
    width:100%;
    height:100%;
    object-fit: cover;
}

#top input{
    height: 60%;
    width: 95%;

    margin : auto;

    text-align:center;
    background-color : rgb(250,250,250);
    border : solid gray 1px;
    border-radius: 3px;

    font-size : 3vw;
    font-weight: 100;
}

i{
    color:gray;
}

#top i{
    font-size : 4vw;
}

#top div{
    text-align:center;
    padding-top : 1vw;
}

#sub_icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    text-align: center;
    font-size : 5vw;

    height : 8vw;
}

.selected{
    border-bottom : solid gray 3px;
}

body{
    font-size : 3vw;
}